<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-luxand" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-luxand</name>
    <js-module name="Luxand" src="www/luxand.js">
        <clobbers target="Luxand" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Luxand">
                <param name="android-package" value="com.luxand.dsi.Luxand" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.CAMERA"/>
            <uses-feature android:name="android.hardware.camera.autofocus" />
            <uses-feature android:name="android.hardware.camera" android:required="true"/>
        </config-file>
         <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.luxand.dsi.OMLLuxand" android:launchMode="singleTop"/>
        </config-file>
-        <source-file src="src/android/FSDK.java" target-dir="src/com/luxand" />
        <source-file src="src/android/Constants.java" target-dir="src/com/luxand/dsi" />
        <source-file src="src/android/FaceRectangle.java" target-dir="src/com/luxand/dsi" />
        <source-file src="src/android/Preview.java" target-dir="src/com/luxand/dsi" />
        <source-file src="src/android/ProcessImageAndDrawResults.java" target-dir="src/com/luxand/dsi" />
        <source-file src="src/android/OMLLuxand.java" target-dir="src/com/luxand/dsi" />
        <source-file src="src/android/Luxand.java" target-dir="src/com/luxand/dsi" />
        <source-file src="src/android/ProcessImageAndDrawResults.java" target-dir="src/com/luxand/dsi" />

        <resource-file src="src/android/libs/armeabi-v7a/libfsdk.so" target="jniLibs/armeabi-v7a/libfsdk.so" />
        <resource-file src="src/android/libs/x86/libfsdk.so" target="jniLibs/x86/libfsdk.so" />
        <resource-file src="src/android/layout/bottom_menu.xml" target="res/layout/bottom_menu.xml" />
        <resource-file src="src/android/layout/main.xml" target="res/layout/main.xml" />
        <!-- <resource-file src="src/android/values/colors.xml" target="res/values/colors.xml" />
        <resource-file src="src/android/values/strings.xml" target="res/values/strings.xml" />
        <resource-file src="src/android/values/styles.xml" target="res/values/styles.xml" /> -->
    </platform>
</plugin>